
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb"></ol>
<div class="card mb-3">
    <div class="card-body">

    </div>  
</div>

<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="~/Scripts/Project/dashboard.js"></script>

